*
{
    padding: 0;
    margin: 0;
}

/*----- header.... */
body
{
    font-family: "Work Sans", sans-serif;
}
header
{
    padding: 50px 228px;
    background: rgba(255, 144, 14, 0.10);
}

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-logo h2
{
    font-size: 45px;
    font-weight: bold;
}

nav .nav-manu ul
{
    display: flex;
}

nav .nav-manu li
{
    list-style-type: none;
    margin: 0 30px;
}

nav .nav-manu li a, .nav-manu .nav-login-button
{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 26px;
    color: #424242;
}

.nav-manu .nav-login-button
{
    border: 0;
    background: transparent;
    cursor: pointer;
}

.header-content
{
    width: 860px;
    margin: auto;
    text-align: center;
    padding: 100px 0 50px 0;
}

.header-content h1
{
    font-size: 4rem;
    font-weight: bold;
}

.header-content p
{
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    padding: 30px 0;
    color: #727272;
}

.btn-prymari
{
    border: 0;
    border-radius: 5px;
    padding: 20px 25px;
    background-color: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
}